.imgbg{
    background-image: url("https://www.aesop.com/u1nb1km7t5q7/4MCRgugtHgl1hD9P7o2U8A/03d54c59ae23068ed910119115557110/Aesop_Gift_Kits_2021_Web_Landing_Page_Secondary_50-50_Desktop_1440x1500px.jpg");
    height:500px;
    background-size: cover;
}
.header{
    background-color: rgb(255, 248, 238);
}
.he1 img{
    width:100%;
    height:auto;
    margin-top: 100px;
}
.he2{
    font-size:25px;
    color:black;
    font-weight:bold;
    margin-top:100px;
}
.content{
    font-size: 18px;
    color: black;
    font-weight: lighter;
}
.button {
    background-color:rgb(248, 239, 226);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  } 
  .button1 {
    background-color:rgb(255, 248, 238); 
    color: black; 
    border: 2px solid #000000;
  }
.button1:hover {
    background-color: rgb(48, 46, 46);
    color: white;
}
.sprayimg{
    height:60%;
    position: relative;
    width:auto;
    float:right;
    margin-top:35%;
}